.createBlog,
.createBlogForm {
  width: 100%;
  height: 100%;
  padding: 0.3rem 0.8rem;
}

.createBlogForm > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.createBlogForm > div:nth-child(1) {
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
}

.createBlogForm > div:nth-child(1) div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.createBlogForm > div:nth-child(1) input {
  width: 90%;
}

.createBlogForm > div:nth-child(2),
.seoTable {
  display: flex;
  flex-direction: column;
}

.seo {
  width: 100%;
}

.seoTable {
  border: 1px solid black;
  padding: 0.5rem;
  width: 100%;
}

.createBlogForm input,
.createBlogForm select,
.tagInput {
  width: 95%;
  height: 2.8rem;
  padding-left: 1rem;
}

.createBlogForm label {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}

.seoTable label {
  font-size: 0.8rem;
}

.createBlogForm button {
  width: 100%;
  background-color: #f496ac;
  color: white;
  margin: 0.5rem 0;
  height: 2rem;
}

.createBlogForm button:hover, .createBlogPage button:hover {
  background-color: #fe7998;
}

.createBlogPage button {
  background-color: #f496ac;
  color: white;
  margin: 0.5rem 0;
  height: 2rem;
}

.uploadImg {
  width: 95%;
  background-color: #f496ac2d;
  border: 1px solid #f496ac;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.2rem;
  cursor: pointer;
  gap: 1rem;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.548);
}

.editor {
  margin: 1rem 0;
}

.createBlogForm > div > div,
.seoTable > div:nth-child(5) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.createBlogForm > div > div button {
  width: 15rem;
}
