.sidebar {
    width: 19rem;
    height: 100%;
    background-color:#F496AC1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    margin-bottom: 0;
    transition: all 500ms;
}

.sidebar div div img {
    height: 20px;
    width: 20px;
}

.sidebar button img {
    height: 30px;
    width: 30px;
}

.sidebar button a {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: black;
}

.sidebar button {
    display: flex;
    justify-content: left;
    padding-left: 2rem;
    align-items: center;
    width: 100%;
    margin: 1rem;
    gap: 2rem;
}

.sidebar div h2 {
    width: 100%;
    text-align: left;
    background-color: #F496AC;
    padding: 0.4rem;
    padding-left: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.2rem;
}

.sidebar div a {
    color: #424242;
    font-weight: 600;
    font-size: 1rem;
}

.sidebar > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    padding: 0.8rem 0;
    border-bottom: 1px solid #C8C8C8 ;
}

.sidebar div > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0.2rem;
    padding-left: 1.5rem;
    gap: 0.3rem;
}

@media screen and (max-width: 800px) {
    .side {
        display: none;
        position: absolute;
        transform: translatex(-800px);
    }
    .sidebar {
        position: absolute;
    }
  
    .sideblur + div {
      filter: opacity(0);
      display: none;
    }

    .sidebar + div {
        width: 90%;
    }
    .hero > div:nth-child(2) {
        justify-content: center;
    }
}
  


